<h1>Добавить продукт</h1>
<form action='/add' method='post'>
  <div class='mb-3'>
    <label for='exampleFormControlInput1' class='form-label'>Название продукта</label>
    <input
      type='text'
      class='form-control'
      id='exampleFormControlInput1'
      name='name'
      placeholder='гарри поттер'
    />
  </div>
  <div class='mb-3'>
    <label for='exampleFormControlInput1' class='form-label'>Цена</label>
    <input
      type='text'
      class='form-control'
      id='exampleFormControlInput1'
      name='price'
      placeholder='гарри поттер'
    />
  </div>
  <div class='mb-3'>
    <label for='exampleFormControlInput1' class='form-label'>Ссылка</label>
    <input
      type='text'
      class='form-control'
      id='exampleFormControlInput1'
      name='link'
      placeholder='гарри поттер'
    />
  </div>
  <button type='submit' class='btn btn-primary'>Отправить</button>
</form>